In [1]:
'''
Sınıflandırma ve regresyon durumu varsa kullanılır. Erkeklerin yaşa göre harcamaları ile Kadınların yaşa göre harcamaları örneğinde
Erkekler ile Kadınlar arasında sınıflandırma durumu varken, kendi iç sınıflarında harcama tahmini yapılacağından regresyon vardır.

'''

'\nSınıflandırma ve regresyon durumu varsa kullanılır. Erkeklerin yaşa göre harcamaları ile Kadınların yaşa göre harcamaları örneğinde\nErkekler ile Kadınlar arasında sınıflandırma durumu varken, kendi iç sınıflarında harcama tahmini yapılacağından regresyon vardır.\n\n'

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('datasets/insurance.csv')
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [4]:
# Veri Ön İşleme: Verilerin dummy edilmesi (sayısallaştırılması)
df = pd.get_dummies(df, columns=['sex', 'smoker', 'region'], drop_first=True)
df.head(3)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.9240,False,True,False,False,True
1,18,33.77,1,1725.5523,True,False,False,True,False
2,28,33.00,3,4449.4620,True,False,False,True,False

In [5]:
y = df['charges']
x = df.drop(columns=['charges'])

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.7, random_state=22)
lr = LinearRegression()
model = lr.fit(x_train, y_train)
model.score(x_test, y_test)

0.7398405242767804

In [7]:
rf = RandomForestRegressor(n_estimators=200)        # n_estimators: ağaç sayısını belirler.
model2 = rf.fit(x_train, y_train)
model2.score(x_test, y_test)        # LinearRegression modelinden başarılıdır.

0.8247300915065957

In [8]:
x.head(3)       # x değişkenlerinin ilk 3 satırını yazdırdı.

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,False,True,False,False,True
1,18,33.77,1,True,False,False,True,False
2,28,33.00,3,True,False,False,True,False

In [9]:
model.predict([[31, 23, 2, 1, 1, 1, 0, 0]])     # Tahmin yapıldı.

c:\Users\YasinAKALAN\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([26953.39696877])