In [1]:
# Kategorisel verileri numerik verilere çeviriyor. ---> ['bjk', 'gs', 'bjk', 'fb'] => [0,1,0,2]
# dummy metodundan farklıdır. dummy --> ['bjk', 'gs', 'bjk', 'fb'] => [[1,0,0], [0,1,0], [1,0,0],[0,0,1]]
# Bağımlı değişkenlerde(y) kullanılması zordur.

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('datasets/Tour_Winners_data_1.csv')
df.head(3)

,Year,Tour_No,Winner,Country,Team,Tour_overall_length_(km),age,BMI,weight_(Kg),height_(m),rider_type_(PPS),close_rider_type_(PPS)
0,2023,110,Jonas Vingegaard,Denmark,Team Jumbo Visma,3406,25,19.6,60.0,1.749636,climber,NaN
1,2022,109,Jonas Vingegaard,Denmark,Team Jumbo Visma,3328,25,19.6,60.0,1.749636,climber,NaN
2,2021,108,Tadej Pogacar,Slovenia,UAE Team Emirates,3383,22,21.3,66.0,1.760282,climber,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      110 non-null    int64
 1   Tour_No                   110 non-null    int64
 2   Winner                    110 non-null    object
 3   Country                   110 non-null    object
 4   Team                      110 non-null    object
 5   Tour_overall_length_(km)  110 non-null    object
 6   age                       110 non-null    int64
 7   BMI                       70 non-null     float64
 8   weight_(Kg)               71 non-null     float64
 9   height_(m)                70 non-null     float64
 10  rider_type_(PPS)          110 non-null    object
 11  close_rider_type_(PPS)    48 non-null     object
dtypes: float64(3), int64(3), object(6)
memory usage: 10.4+ KB

In [5]:
df['Team'].unique()     # Sütundaki verileri listeler.

array(['Team Jumbo Visma', 'UAE Team Emirates', 'Team Ineos ', 'Team Sky',
       'Astana Pro Team', 'BMC Racing Team', 'Team Saxo Bank', 'Astana',
       'Team CSC Saxo Bank', 'Discovery Channel', "Caisse d'Epargne",
       'US Postal Service', 'Mercatone Uno', 'Telekom', 'Banesto',
       'Z Tomasso', 'ADR', 'Reynolds', 'Carrera', 'La Vie Claire',
       'Renault', 'TI Raleigh', 'Peugeot', 'Gitane', 'Molteni', 'Bic',
       'Faemino', 'Faema', 'Holland', 'France', 'Ford', 'Salvarini',
       'St-Raphael', 'Italy', 'Spain', 'Holland Luxembourg',
       'Nord Est Centre', 'Switzerland', 'Ouest', 'Belgium', 'Alcyon',
       'Automoto', 'Cycles Peugeot', 'La Sportive', 'Alycon', 'Cycles JC',
       'La Francaise'], dtype=object)

In [6]:
le = LabelEncoder()     # Kategorik verileri numerik verilere dönüştürür.
le.fit(df['Team'])      # Verilen sütun verilerini numerik verilere eşitler.
x = le.transform(df['Team'])    # Verilen sütun verilerini numerik verilere dönüştürür.

In [7]:
le.classes_         # Dönüştürülen verilerin alfabetik sıralamasını verir.

array(['ADR', 'Alcyon', 'Alycon', 'Astana', 'Astana Pro Team', 'Automoto',
       'BMC Racing Team', 'Banesto', 'Belgium', 'Bic', "Caisse d'Epargne",
       'Carrera', 'Cycles JC', 'Cycles Peugeot', 'Discovery Channel',
       'Faema', 'Faemino', 'Ford', 'France', 'Gitane', 'Holland',
       'Holland Luxembourg', 'Italy', 'La Francaise', 'La Sportive',
       'La Vie Claire', 'Mercatone Uno', 'Molteni', 'Nord Est Centre',
       'Ouest', 'Peugeot', 'Renault', 'Reynolds', 'Salvarini', 'Spain',
       'St-Raphael', 'Switzerland', 'TI Raleigh', 'Team CSC Saxo Bank',
       'Team Ineos ', 'Team Jumbo Visma', 'Team Saxo Bank', 'Team Sky',
       'Telekom', 'UAE Team Emirates', 'US Postal Service', 'Z Tomasso'],
      dtype=object)

In [8]:
le.inverse_transform(x)     # Numerik verilere dönüştürülen verilerin Kategorik verilere geri dönüştürülmesini sağlar.

array(['Team Jumbo Visma', 'Team Jumbo Visma', 'UAE Team Emirates',
       'UAE Team Emirates', 'Team Ineos ', 'Team Sky', 'Team Sky',
       'Team Sky', 'Team Sky', 'Astana Pro Team', 'Team Sky', 'Team Sky',
       'BMC Racing Team', 'Team Saxo Bank', 'Astana',
       'Team CSC Saxo Bank', 'Discovery Channel', "Caisse d'Epargne",
       'Discovery Channel', 'US Postal Service', 'US Postal Service',
       'US Postal Service', 'US Postal Service', 'US Postal Service',
       'US Postal Service', 'Mercatone Uno', 'Telekom', 'Telekom',
       'Banesto', 'Banesto', 'Banesto', 'Banesto', 'Banesto', 'Z Tomasso',
       'ADR', 'Reynolds', 'Carrera', 'La Vie Claire', 'La Vie Claire',
       'Renault', 'Renault', 'Renault', 'Renault', 'TI Raleigh',
       'Renault', 'Renault', 'Peugeot', 'Gitane', 'Peugeot', 'Molteni',
       'Bic', 'Molteni', 'Molteni', 'Faemino', 'Faema', 'Holland',
       'France', 'Ford', 'Salvarini', 'St-Raphael', 'St-Raphael',
       'St-Raphael', 'France', 'Italy', 'Spain', 'Holland Luxembourg',
       'France', 'Nord Est Centre', 'France', 'France', 'France', 'Italy',
       'Switzerland', 'Switzerland', 'Italy', 'Italy', 'Ouest', 'Belgium',
       'Italy', 'France', 'Belgium', 'Belgium', 'France', 'France',
       'France', 'France', 'France', 'Alcyon', 'Alcyon', 'Alcyon',
       'Automoto', 'Automoto', 'Automoto', 'Automoto', 'Cycles Peugeot',
       'La Sportive', 'La Sportive', 'La Sportive', 'Cycles Peugeot',
       'Cycles Peugeot', 'Alycon', 'Alycon', 'Alycon', 'Alycon',
       'Cycles Peugeot', 'Cycles Peugeot', 'Cycles Peugeot',
       'Cycles Peugeot', 'Cycles JC', 'La Francaise'], dtype=object)