In [5]:
# DATASET: https://www.kaggle.com/datasets/yasserh/student-marks-dataset
# VİDEO: https://www.youtube.com/watch?v=TtABVPAypdM&list=PL3ED48mWmYxrAdWjQlOWzFNaM4gLgry5T&index=3

In [6]:
# pip install -U scikit-learn
# pip install pandas

from sklearn.linear_model import LinearRegression
import pandas as pd

In [7]:
# y = m1*x1 + m2*x2 + n

In [8]:
df = pd.read_csv("datasets/Student_Marks.csv")

In [9]:
df.head(5)

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [10]:
# x1 = time_study
# x2 = number_courses
# y = Marks

In [11]:
y = df[["Marks"]]
x = df[["number_courses", "time_study"]]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [13]:
lm = LinearRegression()

In [14]:
model = lm.fit(x, y)        # Verilerin öğrenilmesi

In [15]:
model.predict([[4, 4]])     # x1 ve x2 bağımsız değişkenlerine göre regresyon tahmini yapılır. REGRESYON DOĞRU DENKLEMİNDEN.

c:\Users\YasinAKALAN\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[21.59657189]])

In [16]:
df["Marks"].max()       # Verisetindeki maksimum notu gösterir.

55.299

In [17]:
model.score(x, y)       # x ve y bağımsız değişkenlerine göre yapılan tahminin başarı oranını verir.

0.9403656320238896