In [1]:
# HATALARIN BULUNMASI VE KARŞILAŞTIRILMASI:

In [2]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [3]:
df = pd.read_csv("datasets/Student_Marks.csv")
df.head(5)

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [4]:
df.columns = ["sinif", "saat", "puan"]      # Verisetindeki kolon isimleri güncellendi.
df.head(5)

   sinif   saat    puan
0      3  4.508  19.202
1      4  0.096   7.734
2      4  3.133  13.811
3      6  7.909  53.018
4      8  7.811  55.299

In [5]:
y = df[["puan"]]
x = df[["sinif", "saat"]]

In [6]:
lm = LinearRegression()
model = lm.fit(x, y)

In [7]:
# y = ax + b

In [8]:
model.coef_             # y = a1*x1 + a2*x2 + b --> Lineer Regresyon Denklemindeki a1 ve a2 katsayılarını gösterir.

array([[1.86405074, 5.39917879]])

In [9]:
model.intercept_        # y = a1*x1 + a2*x2 + b --> Lineer Regresyon Denklemindeki b katsayısını gösterir.

array([-7.45634623])

In [10]:
model.predict([[4, 5]])     # 4.Sınıf ve 5 saat günlük ders çalışan biri kaç puan alır? sorusu için tahmin değerini hesaplar.

c:\Users\YasinAKALAN\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[26.99575068]])

In [11]:
# MATEMATİKSEL DOĞRULAMA:
x1 = 4
x2 = 5

a1 = model.coef_[0][0]
a2 = model.coef_[0][1]
b = model.intercept_[0]

# y = a1*x1 + a2*x2 + b
tahmin = a1*x1 + a2*x2 + b
print(tahmin)

#model.predict([[x1, x2]])     # x1.Sınıf ve x2 saat günlük ders çalışan biri kaç puan alır? sorusu için tahmin değerini hesaplar.

26.995750677259945

In [12]:
df_x1 = df.iloc[0, 0]       # verisetindeki ilk satır ve ilk sutun verisini getirir.
df_x2 = df.iloc[0, 1]       # verisetindeki ilk satır ve ikinci sutun verisini getirir.
y_gercek = df.iloc[0, 2]        # verisetindeki ilk satır ve ucuncu sutun verisini getirir.
print(y_gercek)

19.202

In [13]:
# TABLODAKİ İLE KARŞILAŞTIRMA:

y_tahmin = model.predict([[df_x1 ,df_x2]])[0][0]
print(y_tahmin)

22.47530397094242

c:\Users\YasinAKALAN\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [14]:
# İLK VERİ İÇİN HATA ORANI:
(y_gercek - y_tahmin)/y_gercek      # İlk veri için hata oranını hesaplar.

-0.17046682485899478

In [15]:
# GENEL DOĞRULUK ORANI (TÜM VERİLER İÇİN GEÇERLİ):
model.score(x, y)

0.9403656320238896