In [1]:
# HATALARIN TESPİTİ:

"""
MSE: MEAN SQUARE ERROR ORTALAMALARIN KARESİ HATASI
RMSE: ORTALAMALARIN KARESİNİN KAREKÖKÜNÜN HATASI
MAE: MEAN ABSTRACT ERROR
MAPE: MEAN ABSTRACT PERCENT ERROR
"""

'\nMSE: MEAN SQUARE ERROR ORTALAMALARIN KARESİ HATASI\nRMSE: ORTALAMALARIN KARESİNİN KAREKÖKÜNÜN HATASI\nMAE: MEAN ABSTRACT ERROR\nMAPE: MEAN ABSTRACT PERCENT ERROR\n'

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv("datasets/insurance.csv")
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df = pd.get_dummies(df, columns=["sex", "smoker", "region"], drop_first = True)
df.head(5)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,False,True,False,False,True
1,18,33.770,1,1725.55230,True,False,False,True,False
2,28,33.000,3,4449.46200,True,False,False,True,False
3,33,22.705,0,21984.47061,True,False,True,False,False
4,32,28.880,0,3866.85520,True,False,True,False,False

In [5]:
y = df[["charges"]]
x = df.drop("charges", axis=1)

In [6]:
lm = LinearRegression()
model = lm.fit(x, y)

In [7]:
model.score(x, y)

0.7509130345985207

In [8]:
model.predict([[19, 26, 0, 1, 1, 0, 0, 1]])

c:\Users\YasinAKALAN\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[24517.93110714]])

In [9]:
# HATALARIN BULUNMASI:

df_hata = pd.DataFrame()

In [10]:
df_hata["y"] = y

In [11]:
y_tahmin = model.predict(x)

In [12]:
df_hata["tahmin"] = y_tahmin

In [13]:
df_hata["error"] = y-y_tahmin

In [14]:
# MSE:
df_hata["squared_error"] = df_hata["error"]**2

In [15]:

# MAE:
df_hata["abstract_error"] = np.abs(df_hata["error"])

In [16]:
# MAPE:
df_hata["percent_error"] = np.abs((y-y_tahmin)/y)

In [17]:
df_hata.head(10)

,y,tahmin,error,squared_error,abstract_error,percent_error
0,16884.92400,25293.713028,-8408.789028,7.070773e+07,8408.789028,0.498006
1,1725.55230,3448.602834,-1723.050534,2.968903e+06,1723.050534,0.998550
2,4449.46200,6706.988491,-2257.526491,5.096426e+06,2257.526491,0.507371
3,21984.47061,3754.830163,18229.640447,3.323198e+08,18229.640447,0.829205
4,3866.85520,5592.493386,-1725.638186,2.977827e+06,1725.638186,0.446264
5,3756.62160,3719.825799,36.795801,1.353931e+03,36.795801,0.009795
6,8240.58960,10659.961225,-2419.371625,5.853359e+06,2419.371625,0.293592
7,7281.50560,8047.910607,-766.405007,5.873766e+05,766.405007,0.105254
8,6406.41070,8502.973920,-2096.563220,4.395577e+06,2096.563220,0.327260
9,28923.13692,11884.637518,17038.499402,2.903105e+08,17038.499402,0.589096

In [18]:
# HATALARIN ORTALAMASI:
df_hata.mean()

y                 1.327042e+04
tahmin            1.327042e+04
error             6.253626e-13
squared_error     3.650189e+07
abstract_error    4.170887e+03
percent_error     4.203527e-01
dtype: float64

In [19]:
# ALTERNATİF KISAYOL:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

In [20]:
mean_squared_error(y, y_tahmin)

36501893.00741544

In [21]:
mean_absolute_error(y, y_tahmin)

4170.8868941635865

In [22]:
mean_absolute_percentage_error(y, y_tahmin)

0.42035268473727033