In [1]:
# UNDERFITTING: AZ ÖĞRENME
# OVERFITTING: AŞIRI UYUM
# BALANCEDFITTING: DENGELİ ÖĞRENME

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
df = sns.load_dataset("datasets/diamonds")
df.head(5)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
df = pd.get_dummies(df, columns=["cut", "color", "clarity"], drop_first=True)
df.head(5)

,carat,depth,table,price,x,y,z,cut_Good,cut_Ideal,cut_Premium,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.23,61.5,55.0,326,3.95,3.98,2.43,False,True,False,...,False,False,False,False,False,True,False,False,False,False
1,0.21,59.8,61.0,326,3.89,3.84,2.31,False,False,True,...,False,False,False,False,True,False,False,False,False,False
2,0.23,56.9,65.0,327,4.05,4.07,2.31,True,False,False,...,False,False,False,False,False,False,True,False,False,False
3,0.29,62.4,58.0,334,4.20,4.23,2.63,False,False,True,...,False,True,False,False,False,False,False,True,False,False
4,0.31,63.3,58.0,335,4.34,4.35,2.75,True,False,False,...,False,False,True,False,False,True,False,False,False,False

In [5]:
y = df[["price"]]
x = df.drop("price", axis=1)

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=19, train_size=0.76)

In [7]:
lm = LinearRegression()
model = lm.fit(x_train, y_train)

In [8]:
test_score = model.score(x_test, y_test)

In [9]:
train_score = model.score(x_train, y_train)

In [10]:
# test_score ile train_score birbirine ne kadar yakınsa o kadar dengeli öğrenmedir.     BALANCED FITTING
# test_score ile train_score birbirinden ne kadar uzaksa o kadar aşırı öğrenmedir.      OVER-UNDER FITTING

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   carat          53940 non-null  float64
 1   depth          53940 non-null  float64
 2   table          53940 non-null  float64
 3   price          53940 non-null  int64
 4   x              53940 non-null  float64
 5   y              53940 non-null  float64
 6   z              53940 non-null  float64
 7   cut_Good       53940 non-null  bool
 8   cut_Ideal      53940 non-null  bool
 9   cut_Premium    53940 non-null  bool
 10  cut_Very Good  53940 non-null  bool
 11  color_E        53940 non-null  bool
 12  color_F        53940 non-null  bool
 13  color_G        53940 non-null  bool
 14  color_H        53940 non-null  bool
 15  color_I        53940 non-null  bool
 16  color_J        53940 non-null  bool
 17  clarity_IF     53940 non-null  bool
 18  clarity_SI1    53940 non-null  bool
 19  clarity_SI2    53940 non-null  bool
 20  clarity_VS1    53940 non-null  bool
 21  clarity_VS2    53940 non-null  bool
 22  clarity_VVS1   53940 non-null  bool
 23  clarity_VVS2   53940 non-null  bool
dtypes: bool(17), float64(6), int64(1)
memory usage: 3.8 MB